{% extends "base.html" %}
{% block header %}
<style>
    .correct { font-weight: bold }
    .nonsub { opacity: 0.5 }
</style>
{% endblock %}
{% load url from future %}

{% block content %}


<table>
    {% for guess in object_list %}
    <tr{% if guess.correct %} class="correct"{% elif not guess.submitted %} class="nonsub"{%endif%}>
        <td>
        <em>    
            {{guess.time}}
        </em>
        </td>
        <td>
            {{guess.team}}
        </td>
        <td>
            <a href="{% url 'puzzle' pk=guess.puzzle.pk %}">{{guess.puzzle.name}}</a>
        <td>
            {{guess.text}}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
