{% extends "base.html" %}
{% load url from future %}

{% block content %}

<h2> Messages </h2>

{% if user.is_staff and not team %}

<table>
    <tr>
        <th>Team</th>
        <th>Messages (Unread)</th>
        <th>Last message</th>
    </tr>
{% for team in object_list %}
    <tr>
        <td>
            <a href="{%url 'messages' %}?team={{team.pk}}">{{team.name}}</a>
        </td>
        <td>
            {{team.message_set.count}}
            ({{team.unread_message_count}})
        </td>
        <td>
            {% with team.message_set.all.0 as message %}
            <strong>{% if message.judges%}Judges:{%else%}Team:{%endif%}</strong>
            {{message.text|truncatewords:20}}
            {% endwith %}
        </td>
    </tr>
{% endfor %}
</table>

{% else %}

<table>
    {% for message in object_list %}
    <tr>
        <th>{% if message.judges %}Judges{%else%}Your Team{%endif%}</th>
        <td>
            {{message.time}}
        </td>
        <td>
            {{message.text|linebreaks}}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th></th>
        <td></td>
        <td>
            <form method="post" action="#message-form" id="message-form">
                <textarea name="msg" id="message-text" rows=3 cols=80></textarea>
                {% csrf_token %}
                <input type="submit" value="Say" />
            </form>
            <script type="text/javascript">
                $('#message-text').keydown(function(e){
                  e = e || event;
                  if (e.keyCode === 13 && !e.shiftKey) {
                    $('#message-form').submit();
                    return false;
                  }
                  return true;
                 });
                $('#message-text').focus();
            </script>
        </td>
</table>

{% endif %}

{% endblock %}
