{% extends "base.html" %}
{% load url from future %}

{% block header %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var send = function() {
        $.post('/puzzles/{{puzzle.pk}}?xhr&ph={{pagehit_id}}',
                    {'guess': this.value} );
        }
        $('#guess').bind('change', send);
        $('#guess').bind('keyup', send);
    });
</script>
{% endblock %}

{% block content %}

{% if error %}

<h2>{{error}}</h2>
{{ description|safe|linebreaks }}

{% else %}

<h2>{{ puzzle.name }}</h2>
{% if user.is_staff %}
    <p><h3>Teams completed:
    {% if puzzle.team_set.all %}
        {% for team in puzzle.team_set.all %}
        <a href="{% url 'team' pk=team.pk %}">{{ team.name }}</a>
        {% endfor %}
    {% else %}
        None
    {% endif %}
    </strong></h3>
{% else %}
    <h3>
    {% if completed %}Completed{%else%}Uncompleted{%endif%}
    </h3>
{% endif %}

{% for quote,attr in quotes %}
<div class="quote">
<div class="quote-text">“{{quote|safe}}”</div>
<div class="quote-attr">&mdash; {{attr|safe}}</div>
</div>
{% endfor %}
{{ puzzle.description|safe|linebreaks }}

{% if user.is_staff %}
    {% if puzzle.teampuzzle_set.all %}
        <h3>Team Specific Puzzle Descriptions</h3>
        {% for tp in puzzle.teampuzzle_set.all %}
        <strong>{{ tp.team }}</strong>
        {{ tp.description|safe|linebreaks }}
        {% endfor %}
    {% endif %}
{% else %}
    {{ teampuzzle.description|safe|linebreaks }}
{% endif %}


{% if hunt.start < hunt.now and hunt.end > hunt.now %}
    <p>
    <form method="post" action="#solution" id="solution">
    <table>
    {% if puzzle.show_solution_box %}
    <tr>
        <td class="highlight cl3">Guess:</td>
        <td>
            <input type="text" name="guess" id="guess" />
            {% csrf_token %}
            <input type="submit" value="Submit" />
        </td>
    </tr>
    {% endif %}
    {% if submitted %}
    <tr>
        <td class="highlight cl3">Response:</td>
        <td>
            {% if correct %}
            Well done you solved this puzzle. See the new <a href="{% url 'puzzles' %}">puzzles</a>.
            {% else %}
                Sorry, that is incorrect.
            {% endif %}
        </td>
    </tr> 
    {% endif %}
    </table>
    </form>
    </p>
{%endif%}

{% endif %}

{% endblock %}

