{% extends "base.html" %}
{% load url from future %}

{% block content %}

<h2>Teams</h2>

<p>

<table>
    <tr>
        <th>Name</th>
        <th>Members</th>
    {% if user.is_staff or hunt.debriefed %}
        <th>Puzzles Completed</th>
        <th>Nodes Visible</th>
    {% endif %}
    </tr>
    {% for team in object_list %}
    <tr>
    {% if user.is_staff %}
        <th><a href="{% url 'team' team.pk %}">{{ team.name }}</a></th>
    {% else %}
        <th>{{ team.name }}</th>
    {% endif %}
        <td>
            {% for user in team.members.all %}
            {{user.first_name}} {{user.last_name}} ({{ user.username }})
            <br/>
            {% endfor %}
        </td>
    {% if user.is_staff or hunt.debriefed %}
        <td>{{team.puzzles_completed.count}}</td>
        <td>{{team.nodes_visible.count}}</td>
    {% endif %}
    </tr>
    {% endfor %}
</table>

</p>

{% endblock %}
